@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$link-color: #5AFFE6;
$primary-02: #e4d97d;
$secondary-01: #c6538c;
$secondary-02: red;

$p: 14px;
$p2: 18px;
$h: 24px;
$h2: 32px;
$page-title: 50px;