@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

.nimble.hero {
    display: flex;
    height: 555px;
    .hero-img {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        position: relative;
        overflow: hidden;
        img {
            width: 650px;
            position: absolute;
            right: 0;
            top: -50px;
        }
    }
    .hero-img img {
        top: 0;
    }
    .hero-desc {
        display: flex;
        padding-right: 30px;
        width: 50%;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 30px;
        .inner-hero-box {
            width: 500px;
            h1 {
                margin: 10px 0;
                font-size: $page-title;
            }
            .small-header {
                margin: 20px 0 10px;
                position: relative;
                font-size: $p - 2;
                font-weight: 600;
                &::after {
                    content: '';
                    width: 15px;
                    background-color: #5affe6;
                    height: 2px;
                    position: absolute;
                    top: 28px;
                    left: 0;
                }
            }
            p {
                line-height: 25px;
            }
            ul {
                line-height: 25px;
                li {
                    list-style-type: none;
                }
            }
            img {
                width: 75px;
            }
        }
    }
}

.nimble.work-content-1 {
    display: flex;
    background-color: #222;
    height: 90vh;
    position: relative;
    justify-content: flex-end;
    .txt-block {
        width: 530px;
        padding: 40px;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
        position: absolute;
        border-top: 5px solid $link-color;
        background-color: #222;
        top: 50%;
        transform: translate(0, -50%);
        left: 10%;
        h1 {
            margin-bottom: 20px;
            text-transform: capitalize;
        }
        p {
            line-height: 25px;
            font-size: $p;
        }
    }
    .img-block {
        background-color: #eee;
        width: 65%;

    }
}

.nimble.work-content-2 {
    display: flex;
    background-color: #222;
    height: 580px;
    position: relative;
    .inner-content {
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        padding: 80px 0 60px;
        display: flex;
        justify-content: space-evenly;
        .txt-block {
            width: 700px;
            padding: 40px;
            border-top: 5px solid $link-color;
            background-color: #333;
            position: absolute;
            bottom: 0;
            right: 0;
            h1 {
                margin-bottom: 20px;
                text-transform: capitalize;
            }
            p {
                line-height: 25px;
                font-size: $p;
            }
        }
        .prim-color {
            display: inline-block;
            .subtitle {
                display: inline-block;
                position: absolute;
            }
            .colors {
                display: inline-block;
                width: 200px;
                margin-top: 20px;
                .color-cont {
                    display: inline-block;
                    width: 200px;
                    height: 80px;
                    margin-top: 15px;
                    position: relative;
                    .sq {
                        width: 65px;
                        height: 65px;
                        background-color: #414042;
                        float: left;
                    }
                    p {
                        display: inline-block;
                        margin: 0 0 5px 10px;
                    }
                    &:first-child .sq {
                        background-color: #FFDE17;
                    }
                    &:last-child .sq {
                        background-color: #FF5050;
                    }
                }
            }
        }

        .font {
            display: flex;
            flex-wrap: wrap;
            .subtitle {
                position: absolute;
            }
            .font-cont {
                width: 150px;
                margin-top: 10px;
                h2 {
                    margin-top: 20px;
                    font-family: 'Nunito Sans';
                }
                h2:first-child {
                    font-weight: 200;
                    font-style: italic;
                }
                h2:nth-child(3) {
                    font-weight: 300;
                }
                h2:nth-child(5) {
                    font-weight: 500;
                }
                h2:nth-child(7) {
                    font-weight: 500;
                    font-style: italic;
                }
                h2:nth-child(9) {
                    font-weight: 600;
                }
                h2:nth-child(11) {
                    font-weight: 700;
                }
                p {
                    font-family: 'Nunito Sans';
                }
                .sm-txt {
                    font-size: 12px;
                    margin: 0;
                    opacity: .7;
                }
            }
            .alphabet {
                width: auto;
                line-height: 30px;
                font-size: $p2;
                letter-spacing: 1px;
                margin-top: 27px;
            }
        }
        .logo-container {
            background-color: #fff;
            width: 250px;
            height: 185px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            .logo1 {
                margin-right: 30px;
            }
            img {
                width: 75px;
                position: relative;
            }
            p {
                color: #666;
                text-align: center;
            }
        }
    }
}

.nimble.work-content-3 {
    background-color: #222;
    position: relative;
    h1 {
        text-align: center;
        padding: 70px 50px 50px;
    }
    .inner-content {
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        padding: 0 60px 60px;
        display: flex;
        justify-content: space-evenly;
        .nav-icons {
            div {
                width: 180px;
                margin: 40px 0;
                display: flex;
                align-items: center;
                img {
                    width: 40px;
                    display: inline-block;
                    margin-right: 30px;
                }
                p {
                    display: inline-block;
                }
            }
        }

        .drink-icons {
            h2 {
                margin-left: 30px;
            }
            .inner-content {
                display: flex;
                flex-wrap: wrap;
                width: 380px;
                padding: 40px 0 0 0;
                justify-content: end;
                div {
                    flex-direction: column;
                    flex: 0 0 120px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin-bottom: 40px;
                    img {
                        max-width: 48px;
                        max-height: 65px;
                        margin-bottom: 10px;
                    }
                    p {
                        text-align: center;
                    }
                }
                .sparkling, .coconut, .energy, .whiskey, .milkshake {
                    margin-bottom: 22px;
                }
            }
        }

        .buttons {
            .nav-icons {
                width: 320px;
                div {
                    width: 100%;
                }
            }
            .toggleoff img, .toggleon img {
                width: 50px;
            }
            .defaultbtn img, .darkbtn img, .deletebtn img {
                width: 100px;
            }
        }
    }
}

.nimble.work-content-4 {
    background-color: #333;
    h1 {
        text-align: center;
        padding: 80px 0 0;
    }
    .inner-content {
        display: flex;
        max-width: 1100px;
        width: 100%;
        flex-wrap: nowrap;
        margin: 0 auto;
        position: relative;
        padding: 40px 0 80px;
        div {
            margin: 0 10px;
        }
        div:first-child {
            width: 10%;
            img {
                width: 100%;
            }
        }
        div:nth-child(2) {
            width: 45%;
            img {
                width: 100%;
            }
        }
        div:nth-child(3) {
            width: 45%;
            img {
                width: 100%;
            }
        }
    }
}

.nimble.work-content-5 {
    .bg-color-block {
        background-color: #222;
        text-align: center;
        padding: 60px 0 0;
        height: 500px;
    }
    .inner-content {
        position: relative;
        padding-bottom: 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .flex-wrap {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            margin-top: -330px;
            .mobile-final {
                width: 15%;
                margin-right: 30px;
                img {
                    width: 100%;
                }
            }
            .home-final {
                width: 55%;
                img {
                    width: 100%;
                }
            }
        }
        .inside-final {
            width: 55%;
            margin-top: 100px;
            img {
                width: 100%;
            }
        }
    }
}