@import 'variables';

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

a {
    color: #999;
}

h1, h2 {
    text-transform: uppercase;
}

body {
    margin: 0 auto;
    font-size: $p;
}

nav {
    margin: 40px 0;
}

.navList {
    display: flex;
    justify-content: center;
    list-style: none;
    li {
        text-transform: uppercase;
        font-weight: 500;
        color: #999;
        font-size: $p;
        a {
            margin: 10px;
            transition: ease .3s;
            position: relative;
            text-decoration: none;
            &:hover {
                cursor: pointer;
                color: $link-color;
            }
        }
    }
}

.logo {
    width: 100px;
    margin: 0 auto 30px;
    img {
        width: 100%;
    }
}

.section {
    display: flex;
    max-width: 1100px;
    justify-content: center;
    margin: 70px auto;
    opacity: 1;
    transition: .5s ease;
    height: auto;
    &.start {
        max-width: 100%;
        justify-content: left;
    }
    .inner {
        position: absolute;
        left: 50px;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
    }
    .profile-img {
        width: 50%;
        display: inline-block;
        height: 400px;
        background: url(/imgs/profile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .desc {
        display: inline-block;
        position: relative;
        width: 520px;
        height: 400px;
        margin: 30px;
        h1 {
            text-transform: uppercase;
            font-size: $h2;
            margin-bottom: 10px;
        }
        p {
            line-height: 25px;
            font-size: $p;
            margin-bottom: 20px;
        }
        .lists {
            display: flex;
            ul:first-child {
                margin-right: 40px;
            }
            ul {
                li:first-child {
                    font-size: $p + 2;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-bottom: 7px;
                }
                li {
                    list-style: none;
                    line-height: 25px;
                }
            }
        }
    }
    &.experience {
        display: block;
        max-width: 970px;
        min-height: 350px;
        .tabs {
            a {
                cursor: pointer;
            }
        }
        .exp-content {
            padding: 0 20px;
            position: relative;
            h3 {
                font-size: 20px;
            }
            ul {
                li {
                    text-indent: 17px;
                    line-height: 25px;
                }
            }
            .exp-item {
                position: absolute;
                transition: 1s ease;
                i {
                    font-size: 12px;
                    color: #666;
                    margin-bottom: 2px;
                    display: inline-block;
                }
                p {
                    display: inline-block;
                    margin: 10px 0;
                    line-height: 25px;
                }
            }
        }
        h2 {
            text-align: left;
        }
        .tabs {
            ul {
                list-style-type: none;
                padding: 20px 0;
                text-align: center;
                li {
                    display: inline-block;
                    width: 290px;
                    height: 35px;
                    border-bottom: 2px solid #999;
                    margin: 0 20px;
                    transition: .1s;
                    &:hover {
                        border-bottom: 4px solid $link-color;
                    }
                    a {
                        font-size: $p + 2;
                        font-weight: 600;
                        padding: 10px 20px 16px;
                        transition: .1s;
                        text-decoration: none;
                        &:hover {
                            color: $link-color;
                            font-weight: 700;
                        }
                    }
                    &:first-child {
                        width: 260px;
                    }
                    &:last-child {
                        width: 280px;
                    }
                    &.tab-active {
                        border-bottom: 4px solid $link-color;
                        a {
                            font-weight: 700;
                            color: $link-color;
                        }
                    }
                }
            }
        }
    }
    &.work {
        display: block;
        max-width: 970px;
        h2 {
            margin-bottom: 20px;
        }
        ul {
            display: grid;
            grid-template-columns: 33.33% 33.33% 33.33%;
            li {
                list-style-type: none;
                background-color: black;
                margin: 5px;
                background-image: url('/imgs/profile.jpg');
                background-size: contain;
                &::before {
                    content: "";
                    padding-bottom: 100%;
                    display: inline-block;
                    vertical-align: top;
                }
                a {
                    padding: 100px;
                }
            }
        }
    }
}
.slide {
    left: 50% !important;
    transform: translate(-50%, 0);
}
.tab-hidden {
    opacity: 0;
    top: 220px;
}
.home-email-link {
    color: $link-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.active-link {
    font-weight: bold;
    color: $link-color !important;
    &:after {
        content:'';
        background-color: #d2232a;
        width: 20px;
        height: 2px;
        border-radius: 90px;
        position: absolute;
        top: 23px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

@keyframes appear {
    0%   {top: 100px; opacity: 0;}
    100% {top: 0px; opacity: 1;}
}

@keyframes disappear {
    0%   {top: 0px; opacity: 1;}
    100% {top: 100px; opacity: 0;}
}
.animateAppear {
  animation-name: appear;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  z-index: 99;
}
.animateDisappear {
  animation-name: disappear; 
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  z-index: 0;
}